<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

### Data Science Tools and Ecosystem

In this notebook, Data science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are 

1 Python
2 R
3 SQL
### Objectives 
1 List of popular languages in data science 
2 Common Libraries of Data science 
3 Creating a table in jupyter notebook 
4 Markdown cells with headline 
5 Arithmetic Expression in Code Cell

Some of the commonly used libraries used by Data Scientists include;

1 NumPy; for numerical computing in Python
2 Pandas; for data manipulation and analysis 
3 Jupyter;for interactive computing and creating notebook

 {'Data Science Tools':['Jupyter Notebook', 'Rstudio', 'VS Code']}

### Below are a few example of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5
# this is a simple arithmetic expression to multiple then add integers

17

In [10]:
200/60
# this will convert 200 minutes into hours by diving by 60

3.3333333333333335

## Author 
ANYU NDIKUM LEONARD